# Scrape Wallstreet online

In [11]:
from ModulScrapeWallstreet import scrape_futureprice,future_price_to_sql
from datetime import date, timedelta
import pandas as pd
from random import randint

In [12]:
future_df = scrape_futureprice()

Server respsonse: <Response [200]>
Managed to load data into dataframe 'future_price_today'
Data loaded from wallstreet online:/n    kontrakt   price absolut_inc perc_inc date_fullfillment date_price  \
0  Mai 2022  333.10       25,40  -7,09 %        2022-05-23 2022-05-18
1  Jul 2022  341.10       17,45  -4,87 %        2022-07-07 2022-05-18
2  Nov 2022  340.10       11,40  -3,24 %        2022-11-23 2022-05-18
3  Jan 2023  342.60       10,90  -3,08 %        2023-01-23 2022-05-18
4  Mär 2023  343.85       10,40  -2,94 %        2023-03-23 2022-05-18
5  Mai 2023  345.70        9,90  -2,78 %        2023-05-23 2022-05-18
6  Jul 2023  315.25        7,90  -2,44 %        2023-07-07 2022-05-18
7  Nov 2023  280.20        5,90  -2,06 %        2023-11-23 2022-05-18
8  Jan 2024  281.15        5,90  -2,06 %        2024-01-23 2022-05-18
9  Mär 2024  282.65        5,90  -2,04 %        2024-03-22 2022-05-18

  currency  commodity_id
0      GBP             2
1      GBP             2
2      GBP             2
3      GBP             2
4      GBP             2
5      GBP             2
6      GBP             2
7      GBP             2
8      GBP             2
9      GBP             2

In [13]:
future_df

,kontrakt,price,absolut_inc,perc_inc,date_fullfillment,date_price,currency,commodity_id
0,Mai 2022,333.10,"25,40","-7,09 %",2022-05-23,2022-05-18,GBP,2
1,Jul 2022,341.10,"17,45","-4,87 %",2022-07-07,2022-05-18,GBP,2
2,Nov 2022,340.10,"11,40","-3,24 %",2022-11-23,2022-05-18,GBP,2
3,Jan 2023,342.60,"10,90","-3,08 %",2023-01-23,2022-05-18,GBP,2
4,Mär 2023,343.85,"10,40","-2,94 %",2023-03-23,2022-05-18,GBP,2
5,Mai 2023,345.70,"9,90","-2,78 %",2023-05-23,2022-05-18,GBP,2
6,Jul 2023,315.25,"7,90","-2,44 %",2023-07-07,2022-05-18,GBP,2
7,Nov 2023,280.20,"5,90","-2,06 %",2023-11-23,2022-05-18,GBP,2
8,Jan 2024,281.15,"5,90","-2,06 %",2024-01-23,2022-05-18,GBP,2
9,Mär 2024,282.65,"5,90","-2,04 %",2024-03-22,2022-05-18,GBP,2

In [14]:
future_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   kontrakt           10 non-null     object
 1   price              10 non-null     float64
 2   absolut_inc        10 non-null     object
 3   perc_inc           10 non-null     object
 4   date_fullfillment  10 non-null     datetime64[ns]
 5   date_price         10 non-null     datetime64[ns]
 6   currency           10 non-null     object
 7   commodity_id       10 non-null     int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 768.0+ bytes

In [15]:
#Simulate random wheat price in the future
for i in range(0,9):
    for day in range(200):
        ts = future_df.iloc[i]["date_price"] - timedelta(days=day)
        price = future_df.iloc[i]['price'] + randint(-60, 60)
        series = future_df.iloc[i].copy()
        series["date_price"] = ts    
        series["price"] = price
        future_df = pd.concat([future_df, pd.DataFrame(series).transpose()], axis=0)
future_df

,kontrakt,price,absolut_inc,perc_inc,date_fullfillment,date_price,currency,commodity_id
0,Mai 2022,333.1,"25,40","-7,09 %",2022-05-23,2022-05-18,GBP,2
1,Jul 2022,341.1,"17,45","-4,87 %",2022-07-07,2022-05-18,GBP,2
2,Nov 2022,340.1,"11,40","-3,24 %",2022-11-23,2022-05-18,GBP,2
3,Jan 2023,342.6,"10,90","-3,08 %",2023-01-23,2022-05-18,GBP,2
4,Mär 2023,343.85,"10,40","-2,94 %",2023-03-23,2022-05-18,GBP,2
...,...,...,...,...,...,...,...,...
8,Jan 2024,236.15,"5,90","-2,06 %",2024-01-23,2021-11-04,GBP,2
8,Jan 2024,320.15,"5,90","-2,06 %",2024-01-23,2021-11-03,GBP,2
8,Jan 2024,338.15,"5,90","-2,06 %",2024-01-23,2021-11-02,GBP,2
8,Jan 2024,265.15,"5,90","-2,06 %",2024-01-23,2021-11-01,GBP,2
8,Jan 2024,312.15,"5,90","-2,06 %",2024-01-23,2021-10-31,GBP,2

In [19]:
future_df_clean = future_df[['commodity_id', 'date_fullfillment', 'date_price', 'price', 'currency']]

In [10]:
import sqlite3
def future_price_to_sql(future_price_today):
    con = sqlite3.connect('contrcalc.db') 
    future_price_today.to_sql('price_table', con, if_exists='append', index=False)
    return
future_price_to_sql(tosql_df)

In [17]:
import pandas as pd
con = sqlite3.connect('contrcalc.db') 
price_df = pd.read_sql('Select * FROM price_table', con, index_col='price_id')

In [18]:
price_df

,commodity_id,date_fullfillment,date_price,price,currency
price_id,,,,,
1,2,2022-05-23 00:00:00,2022-05-17 00:00:00,358.50,GBP
2,2,2022-07-07 00:00:00,2022-05-17 00:00:00,358.55,GBP
3,2,2022-11-23 00:00:00,2022-05-17 00:00:00,351.50,GBP
4,2,2023-01-23 00:00:00,2022-05-17 00:00:00,353.50,GBP
5,2,2023-03-23 00:00:00,2022-05-17 00:00:00,354.25,GBP
...,...,...,...,...,...
6906,2,2024-01-23 00:00:00,2021-11-04 00:00:00,298.15,GBP
6907,2,2024-01-23 00:00:00,2021-11-03 00:00:00,300.15,GBP
6908,2,2024-01-23 00:00:00,2021-11-02 00:00:00,290.15,GBP
6909,2,2024-01-23 00:00:00,2021-11-01 00:00:00,235.15,GBP
6910,2,2024-01-23 00:00:00,2021-10-31 00:00:00,224.15,GBP

In [20]:
price_df = pd.concat([price_df, future_df_clean], axis=0)

In [22]:
price_df.drop_duplicates(keep= 'first', inplace=True)