# Scrape Wallstreet online

In [57]:
from ModulScrapeWallstreet import scrape_futureprice
from datetime import date, timedelta
import pandas as pd
from random import randint

In [67]:
future_df = scrape_futureprice()

C:\Users\Lenovo\Documents\GitHub\ContractCalculator\ModulScrapeWallstreet.py:15: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 15 of the file C:\Users\Lenovo\Documents\GitHub\ContractCalculator\ModulScrapeWallstreet.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(page.content, 'html')
C:\Users\Lenovo\Documents\GitHub\ContractCalculator\ModulScrapeWallstreet.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  future_price_today = future_price_today.append(ser, ignore_index=True)
C:\Users\Lenovo\Documents\GitHub\ContractCalculator\ModulScrapeWallstreet.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  future_price_today = future_price_today.append(ser, ignore_index=True)
C:\Users\Lenovo\Documents\GitHub\ContractCalculator\ModulScrapeWallstreet.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  future_price_today = future_price_today.append(ser, ignore_index=True)
C:\Users\Lenovo\Documents\GitHub\ContractCalculator\ModulScrapeWallstreet.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  future_price_today = future_price_today.append(ser, ignore_index=True)
C:\Users\Lenovo\Documents\GitHub\ContractCalculator\ModulScrapeWallstreet.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  future_price_today = future_price_today.append(ser, ignore_index=True)
C:\Users\Lenovo\Documents\GitHub\ContractCalculator\ModulScrapeWallstreet.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  future_price_today = future_price_today.append(ser, ignore_index=True)
C:\Users\Lenovo\Documents\GitHub\ContractCalculator\ModulScrapeWallstreet.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  future_price_today = future_price_today.append(ser, ignore_index=True)
C:\Users\Lenovo\Documents\GitHub\ContractCalculator\ModulScrapeWallstreet.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  future_price_today = future_price_today.append(ser, ignore_index=True)
C:\Users\Lenovo\Documents\GitHub\ContractCalculator\ModulScrapeWallstreet.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  future_price_today = future_price_today.append(ser, ignore_index=True)
C:\Users\Lenovo\Documents\GitHub\ContractCalculator\ModulScrapeWallstreet.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  future_price_today = future_price_today.append(ser, ignore_index=True)

In [68]:
future_df

,kontrakt,price,absolut_inc,perc_inc,date_fullfillment,date_price,currency,commodity_id
0,Mai 2022,358.50,"2,50","-0,69 %",2022-05-23,2022-05-16,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-16,GBP,2
2,Nov 2022,351.50,"0,50","-0,14 %",2022-11-23,2022-05-16,GBP,2
3,Jan 2023,353.50,"0,50","-0,14 %",2023-01-23,2022-05-16,GBP,2
4,Mär 2023,354.25,"1,05","-0,30 %",2023-03-23,2022-05-16,GBP,2
5,Mai 2023,355.60,"1,20","-0,34 %",2023-05-23,2022-05-16,GBP,2
6,Jul 2023,323.15,"3,95","-1,21 %",2023-07-07,2022-05-16,GBP,2
7,Nov 2023,286.10,"6,70","-2,29 %",2023-11-23,2022-05-16,GBP,2
8,Jan 2024,287.05,"6,70","-2,28 %",2024-01-23,2022-05-16,GBP,2
9,Mär 2024,288.55,"6,70","-2,27 %",2024-03-22,2022-05-16,GBP,2

In [60]:
future_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   kontrakt           10 non-null     object
 1   price              10 non-null     float64
 2   absolut_inc        10 non-null     object
 3   perc_inc           10 non-null     object
 4   date_fullfillment  10 non-null     datetime64[ns]
 5   date_price         10 non-null     datetime64[ns]
 6   currency           10 non-null     object
 7   commodity_id       10 non-null     int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 768.0+ bytes

In [69]:
#Simulate random wheat price in the future
for i in range(1,9):
    for day in range(40):
        ts = future_df.iloc[i]["date_price"] + timedelta(days=day)
        price = future_df.iloc[i]['price'] + randint(-10, 10)
        series = future_df.iloc[i].copy()
        series["date_price"] = ts    
        series["price"] = price
        future_df = pd.concat([future_df, pd.DataFrame(series).transpose()], axis=0)
future_df

,kontrakt,price,absolut_inc,perc_inc,date_fullfillment,date_price,currency,commodity_id
0,Mai 2022,358.5,"2,50","-0,69 %",2022-05-23,2022-05-16,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-16,GBP,2
2,Nov 2022,351.5,"0,50","-0,14 %",2022-11-23,2022-05-16,GBP,2
3,Jan 2023,353.5,"0,50","-0,14 %",2023-01-23,2022-05-16,GBP,2
4,Mär 2023,354.25,"1,05","-0,30 %",2023-03-23,2022-05-16,GBP,2
...,...,...,...,...,...,...,...,...
8,Jan 2024,284.05,"6,70","-2,28 %",2024-01-23,2022-06-20,GBP,2
8,Jan 2024,294.05,"6,70","-2,28 %",2024-01-23,2022-06-21,GBP,2
8,Jan 2024,290.05,"6,70","-2,28 %",2024-01-23,2022-06-22,GBP,2
8,Jan 2024,290.05,"6,70","-2,28 %",2024-01-23,2022-06-23,GBP,2
8,Jan 2024,292.05,"6,70","-2,28 %",2024-01-23,2022-06-24,GBP,2

In [48]:
future_df

,kontrakt,price,absolut_inc,perc_inc,date_fullfillment,date_price,currency,commodity_id
0,Mai 2022,358.5,"2,50","-0,69 %",2022-05-23,2022-05-16,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-16,GBP,2
2,Nov 2022,351.5,"0,50","-0,14 %",2022-11-23,2022-05-16,GBP,2
3,Jan 2023,353.5,"0,50","-0,14 %",2023-01-23,2022-05-16,GBP,2
4,Mär 2023,354.25,"1,05","-0,30 %",2023-03-23,2022-05-16,GBP,2
5,Mai 2023,355.6,"1,20","-0,34 %",2023-05-23,2022-05-16,GBP,2
6,Jul 2023,323.15,"3,95","-1,21 %",2023-07-07,2022-05-16,GBP,2
7,Nov 2023,286.1,"6,70","-2,29 %",2023-11-23,2022-05-16,GBP,2
8,Jan 2024,287.05,"6,70","-2,28 %",2024-01-23,2022-05-16,GBP,2
9,Mär 2024,288.55,"6,70","-2,27 %",2024-03-22,2022-05-16,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-16,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-17,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-16,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-17,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-18,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-19,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-20,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-21,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-22,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-23,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-24,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-25,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-26,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-27,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-28,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-29,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-30,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-05-31,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-06-01,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-06-02,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-06-03,GBP,2
1,Jul 2022,358.55,"1,50","-0,42 %",2022-07-07,2022-06-04,GBP,2

In [70]:
tosql_df = future_df[['commodity_id', 'date_fullfillment', 'date_price', 'price', 'currency']]

In [71]:
import sqlite3
def future_price_to_sql(future_price_today):
    con = sqlite3.connect('contrcalc.db') 
    future_price_today.to_sql('price_table', con, if_exists='append', index=False)
    return
future_price_to_sql(tosql_df)

In [7]:
future_df.to_csv('Data/future_df.csv')

In [72]:
import pandas as pd
con = sqlite3.connect('contrcalc.db') 
price_df = pd.read_sql('Select * FROM price_table', con, index_col='price_id')

In [73]:
price_df

,commodity_id,date_fullfillment,date_price,price,currency
price_id,,,,,
1,2,2022-05-23 00:00:00,2022-05-16 00:00:00,361.00,GBP
2,2,2022-07-07 00:00:00,2022-05-16 00:00:00,360.05,GBP
3,2,2022-11-23 00:00:00,2022-05-16 00:00:00,352.00,GBP
4,2,2023-01-23 00:00:00,2022-05-16 00:00:00,354.00,GBP
5,2,2023-03-23 00:00:00,2022-05-16 00:00:00,355.30,GBP
...,...,...,...,...,...
428,2,2024-01-23 00:00:00,2022-06-20 00:00:00,284.05,GBP
429,2,2024-01-23 00:00:00,2022-06-21 00:00:00,294.05,GBP
430,2,2024-01-23 00:00:00,2022-06-22 00:00:00,290.05,GBP
431,2,2024-01-23 00:00:00,2022-06-23 00:00:00,290.05,GBP
432,2,2024-01-23 00:00:00,2022-06-24 00:00:00,292.05,GBP