# SQLite database

In [1]:
import sqlite3
import pandas as pd

Create table Wheat Spotprice

In [17]:
def init_db():
    con = sqlite3.connect('price_data.db')
    cur = con.cursor()
    cur.execute('''
    CREATE TABLE IF NOT EXISTS price_table(
        price_id INTEGER PRIMARY KEY,
        commodity_id INTEGER NOT NULL,
        date_fullfillment INTEGER, --month 1-12
        date_price DATE NOT NULL,
        price REAL NOT NULL
        );
    ''')    
    con.commit() 
    cur.execute('''    
    CREATE TABLE IF NOT EXISTS price_commodities(
        price_id INTEGER,
        commodity_id INTEGER,
        PRIMARY KEY (price_id),
        FOREIGN KEY (price_id)
            REFERENCES price_table (price_id)
                ON DELETE CASCADE
                ON UPDATE NO ACTION,
        FOREIGN KEY (commodity_id)
            REFERENCES commodities (commodity_id)
                ON DELETE CASCADE
                ON UPDATE NO ACTION
        );  
    ''')    
    
    cur.execute('''
    CREATE TABLE IF NOT EXISTS contracts
        (contract_id INTEGER PRIMARY KEY UNIQUE,
        commodity_id INTEGER NOT NULL,
        price_per_to REAL NOT NULL,
        amount_to REAL NOT NULL,
        date_closure DATE NOT NULL,
        date_fullfillment DATE NOT NULL
        );
    ''')
    con.commit()  
    
    cur.execute('''
    CREATE TABLE IF NOT EXISTS contracts_commodities(
        contract_id INTEGER,
        commodity_id INTEGER,
        PRIMARY KEY (contract_id, commodity_id),
        FOREIGN KEY (contract_id)
            REFERENCES contracts (contract_id)
                ON DELETE CASCADE
                ON UPDATE NO ACTION,
        FOREIGN KEY (commodity_id)
            REFERENCES commodities (commodity_id)
                ON DELETE CASCADE
                ON UPDATE NO ACTION
    );
    ''')
    con.commit()
    
    cur.execute('''
    CREATE TABLE IF NOT EXISTS commodities(
        commodity_id INTEGER PRIMARY KEY UNIQUE,
        name TEXT UNIQUE NOT NULL,
        harvest_month INTEGER NOT NULL,
        sowing_month INTEGER NOT NULL,
        reference_harvest_to REAL NOT NULL
    );
    
    ''')
    con.commit()
    con.close()
    return

In [18]:
init_db()

Populate table Wheat Spotprice

Check result:

In [25]:
def get_wheat_df():
    '''returns all entries from wheat_spotprice_table as dataframe'''
    con = sqlite3.connect('price_data.db')
    wheat_df = pd.read_sql('''
    Select * FROM wheat_spotprice''', con,  parse_dates=['date'])
    return wheat_df

In [26]:
wheat_df = check_wheat_spotprice()
wheat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    213 non-null    object
 1   price   213 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.5+ KB